.container {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.manager-dashboard {
  margin-top: 20px;
}

.add-staff input, .add-staff button {
  margin: 5px 0;
  padding: 8px;
  margin: 5px ;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007BFF;
  color: white;
}

.staff-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #218838;
}